.auth-layout {
  min-height: 100vh;
  background-color: var(--bg-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  width: 100%;
  background-color: var(--bg-container);
}
