.navbar {
  display: flex;
  align-items: center;
}

.navbarMain {
  flex: 1;
  margin-top: 20px;
}

.link {
  width: auto;
  height: auto;
  margin-bottom: 8px;
  border-radius: var(--mantine-radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);
  transition: background-color 150ms ease;
}

.link:hover {
  background-color: var(--mantine-color-blue-7);
}

.link[data-active],
.link[data-active]:hover {
  box-shadow: var(--mantine-shadow-sm);
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-blue-6);
}
