:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.mantine-datatable-table[data-highlight-on-hover] tbody tr:hover {
  background: var(--mantine-color-gray-2) !important;
}

@layer mantine, mantine-datatable;