.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--mantine-color-dark-8);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.paper {
  width: 100%;
  max-width: 400px;
  height: fit-content;
}