.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.paper {
  width: 100%;
  max-width: 400px;
  height: fit-content;
}
